body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: rgb(82, 179, 126);
  color: white;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 180px;
  border-radius: 20px;
  background-color: darkseagreen;
  color: white;
}
input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  margin-top: 20px;
  width: 200px;
  height: auto;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(56, 75, 23);
}

.css-selector-input {
  display: flex;
}
